#markdown-viewer > p, 
#markdown-viewer > * p, 
#markdown-viewer > * li{
    line-height: 1.5;
    font-size: 12pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#markdown-viewer > * .highlight {
    background-color: yellow;
}


#search-bar {
    background-color: #EDEDED;
}

.summary {
    background-color: #d9d9d9;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.summary > * .selected{
    background-color: rgb(255, 255, 255);
}

blockquote{
    color: #555555;
    background:#EDEDED;
    border-left:8px solid #78C0A8 ;
}

blockquote::before{
    color:#78C0A8;
}

blockquote span{
    color:#333333;
}


button{
    background-color: #EDEDED;
    color: #333333;
}
