
.summary{
    padding-top: 20px;
    padding-right: 20px;
    min-height:  100vw;
    flex-basis: content;
    background-color: beige;
}

.summary > p {
    padding-top: 30px;
}

p,li{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

ul{
    padding-left: 15pt;
    font-size: 15pt;
    list-style-type:none
}

.selected{
    background-color: rgb(144, 148, 147);
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

#searchbar{
    border-radius: 25pt;
    margin-left: 15pt;
    font-size: 15pt;
    border: 2px solid rgb(5, 5, 5);
    padding: 20px; 
    width: 200px;
    height: 10pt;  
}
#searchbar:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
}